body {
    background-color: #0002e9;
    background-image: linear-gradient(130deg, #0002e9 0%, #88e4d6 33%, #1f4c4c 66%, #040000 100%);
    transition: background-color 0.3s ease;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.dark-mode-toggle-wrapper {
    position: absolute;
    top: 20px;
    right: 20px;
}

#dark-mode-toggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: filter 0.3s ease;
}


body.dark-mode {
    background-color: #121212;
    background-image: none;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dark-mode-toggle body {
    background-color: #121212;
    background-image: none;
    transition: background-color 0.3s ease;
}

.dark-mode-toggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: filter 0.3s ease;
}

.dark-mode-toggle.active {
    filter: invert(100%);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

textarea {
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#output-text {
    background-color: #f2f2f2;
}

/*footer {
    background-color: rgb(230, 230, 230);
}*/

footer p {
    margin: -12px;
    padding: 10px;
    display: flex;
    color: rgb(0, 0, 0);
    justify-content: center;
    align-items: flex-end;
}

footer .container {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;  
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.footer-container {
    display: flex;
    align-items: center;
}

.social-icons {
    display: flex;
    margin-right: 20px;
}

.social-icons a {
    display: inline-block;
    margin-right: 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
}


.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    height: auto;
}

button {
    width: auto;
    height: 50px;
    max-width: 100%;
    background: #290268;
    border-style: none;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: 'Lato';
    font-weight: 600;
    outline: none;
    cursor: pointer;
    position: relative;
    padding: 20px 30px;
    overflow: hidden;
    transition: all .5s;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
}

button span {
    position: absolute;
    display: block;
}

button span:nth-child(1) {
    height: 3px;
    width: 200px;
    top: 0px;
    left: -200px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), #ac931b);
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span1 2s linear infinite;
    animation-delay: 1s;
}

@keyframes span1 {
    0% {
        left: -200px
    }

    100% {
        left: 200px;
    }
}

button span:nth-child(2) {
    height: 70px;
    width: 3px;
    top: -70px;
    right: 0px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #f6e58d);
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span2 2s linear infinite;
    animation-delay: 2s;
}

@keyframes span2 {
    0% {
        top: -70px;
    }

    100% {
        top: 70px;
    }
}

button span:nth-child(3) {
    height: 3px;
    width: 200px;
    right: -200px;
    bottom: 0px;
    background: linear-gradient(to left, rgba(0, 0, 0, 0), #f6e58d);
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    animation: span3 2s linear infinite;
    animation-delay: 3s;
}

@keyframes span3 {
    0% {
        right: -200px;
    }

    100% {
        right: 200px;
    }
}

button span:nth-child(4) {
    height: 70px;
    width: 3px;
    bottom: -70px;
    left: 0px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0), #f6e58d);
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    animation: span4 2s linear infinite;
    animation-delay: 4s;
}

@keyframes span4 {
    0% {
        bottom: -70px;
    }

    100% {
        bottom: 70px;
    }
}

button:hover {
    transition: all .5s;
    transform: rotate(-3deg) scale(1.1);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, .4);
}

button:hover span {
    animation-play-state: paused;
}

@keyframes youtubeAnim {
    0%, 100% {
        color: #c9110f;
    }

    50% {
        color: #ff0000;
    }
}

/* Responsive Layout */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; /* Center vertically */
    width: 100%;
}

textarea {
    width: 48%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#output-text {
    background-color: #f2f2f2;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

button {
    width: 100%;
}

@media (max-width: 768px) {
    .input-container {
        flex-direction: column;
    }
    
    textarea {
        width: 100%;
    }
}
